<!DOCTYPE html>
<html>
<head>
  <title>Add Book – <%= shopData.shopName %></title>
  <link rel="stylesheet" href="/main.css">
</head>
<body>
<div class="container">
  <h1><%= shopData.shopName %></h1>
    <nav class="navbar">

      <div class="nav-left">
        <a href="/" class="nav-logo"><%= shopData.shopName %></a>
      </div>

      <ul class="nav-center">
        <li><a href="../">Home</a></li>
        <li><a href="./list">All Books</a></li>
        <li><a href="./add">Add Book</a></li>
        <li><a href="./search">Search Books</a></li>
        <li><a href="../users/register">Register</a></li>
        <li><a href="/weather">Weather Forecast</a></li>
        <li><a href="../about">About</a></li>
      </ul>

      <div class="nav-right">
        <a href="../users/login" class="login-btn">Login</a>
        <a href="/logout" class="login-btn">Logout</a>
      </div>
    </nav>
  <div class="section">
    <h2 style="margin-top:0">Add a New Book</h2>

    <form action="./add" method="POST">
      <label>Book Name</label>
      <input type="text" name="name" required>

      <label>Price (£)</label>
      <input type="number" step="0.01" name="price" required>

      <div class="actions">
        <button class="btn btn-primary" type="submit">Add Book</button>
        <a class="btn" href="./list">Back to List</a>
      </div>
    </form>

  </div>
</div>
</body>
</html>
