<!DOCTYPE html>
<html>
<head>
  <title>Add Book – Bertie's Books</title>
  <link rel="stylesheet" href="/main.css">
</head>
<body>
<div class="container">
  <h1>Bertie’s Books</h1>
    <nav class="navbar">
      <div class="nav-logo"><%= shopData.shopName %></div>

      <ul class="nav-links">
        <li><a href="../">Home</a></li>
        <li><a href="./list">All Books</a></li>
        <li><a href="./add">Add Book</a></li>
        <li><a href="./search">Search Books</a></li>
        <li><a href="../users/register">Register</a></li>
        <li><a href="../users/login">Login</a></li>
        <li><a href="../about">About</a></li>
        <li><a href="../logout">Logout</a></li>
      </ul>
    </nav>
  <div class="section">
    <h2 style="margin-top:0">Add a New Book</h2>

    <form action="./add" method="POST">
      <label>Book Name</label>
      <input type="text" name="name" required>

      <label>Price (£)</label>
      <input type="number" step="0.01" name="price" required>

      <div class="actions">
        <button class="btn btn-primary" type="submit">Add Book</button>
        <a class="btn" href="./list">Back to List</a>
      </div>
    </form>

  </div>
</div>
</body>
</html>
