<!DOCTYPE html>
<html>
<head>
  <title>Search Books – Bertie's Books</title>
  <link rel="stylesheet" href="/main.css">
</head>
<body>
    <h1>Bertie’s Books</h1>    
    <nav class="navbar">
      <div class="nav-logo"><%= shopData.shopName %></div>

      <ul class="nav-links">
        <li><a href="../">Home</a></li>
        <li><a href="./list">All Books</a></li>
        <li><a href="./add">Add Book</a></li>
        <li><a href="./search">Search Books</a></li>
        <li><a href="../users/register">Register</a></li>
        <li><a href="../users/login">Login</a></li>
        <li><a href="../about">About</a></li>
        <li><a href="../logout">Logout</a></li>
      </ul>
    </nav>
  <div class="container">


    <div class="section">
      <h2>Search Books</h2>

      <form action="./search-results" method="GET">
        <label>Keyword</label>
        <input type="text" name="keyword" placeholder="Book name">

        <div class="actions">
          <button class="btn btn-primary" type="submit">Search</button>
        </div>
      </form>

    </div>
  </div>
</body>
</html>
