<!DOCTYPE html>
<html>
<head>
  <title>Search Books – Bertie's Books</title>
  <link rel="stylesheet" href="/main.css">
</head>
<body>
<div class="container">
  <h1>Bertie’s Books</h1>

  <nav>
    <a href="../">Home</a>
    <a href="./list">All Books</a>
    <a href="./add">Add Book</a>
    <a href="./search">Search</a>
    <a href="../users/register">Register</a>
    <a href="../users/login">Login</a>
    <a href="../about">About</a>
    <a href="../logout">Logout</a>
  </nav>

  <div class="section">
    <h2>Search Books</h2>

    <form action="./search-results" method="GET">
      <label>Keyword</label>
      <input type="text" name="keyword" placeholder="Book name">

      <div class="actions">
        <button class="btn btn-primary" type="submit">Search</button>
      </div>
    </form>

  </div>
</div>
</body>
</html>
