<!doctype html>
<html>
  <head>
    <title>About <%=shopData.shopName%></title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <body class="homepage">
    <nav class="navbar">
      <div class="nav-left">
        <a href="/" class="nav-logo"><%= shopData.shopName %></a>
      </div>

      <ul class="nav-center">
        <li><a href="/books/list">All Books</a></li>
        <li><a href="/books/add">Add Book</a></li>
        <li><a href="/books/search">Search Books</a></li>
        <li><a href="/users/register">Register</a></li>
        <li><a href="/about">About</a></li>
      </ul>

      <div class="nav-right">
        <a href="/users/login" class="login-btn">Login</a>
        <a href="/logout" class="login-btn">Logout</a>
      </div>
    </nav>
    <div class="index-container">
      <h1>About <%= shopData.shopName %></h1>
      <p>We sell all sorts of books and nothing else!</p>
    </div>
  </body>
</html>