<!doctype html>
<html>
  <head>
    <title><%=shopData.shopName%></title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <body class="homepage">
    <div class="index-container">
      <h1><%= shopData.shopName %>: Add Book</h1>

      <form method="POST" action="bookadded">
        <label for="book_name">Book Name</label>
        <input id="book_name" type="text" name="name" />

        <label for="price">Price</label>
        <input id="price" type="number" min="0" step="any" name="price" />

        <button type="submit" class="btn-primary">Add Book</button>
      </form>
    </div>
  </body>
</html>