<!doctype html>
<html>
  <head>
    <title>Welcome to <%=shopData.shopName%></title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <body class="homepage">
    <div class="index-container">
      <h1>Welcome to <%=shopData.shopName%></h1>
      <p><a href="./">Home</a></p>
      <p><a href="./books/list">All Books</a></p>
      <p><a href="./books/add">Add Book</a></p>
      <p><a href="./books/search">Search Books</a></p>
      <p><a href="./users/register">Register</a></p>
      <p><a href="./users/login">Login</a></p>
      <p><a href="./about">About</a></p>
      <p><a href="./logout">Logout</a></p>
  </body>
</html>
