<!doctype html>
<html>
  <head>
    <title>Welcome to <%=shopData.shopName%></title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <body class="homepage">
    <div class="index-container">
      <h1>Welcome to <%=shopData.shopName%></h1>
      <a href="./">Home</a>
      <a href="./books/list">All Books</a>
      <a href="./books/add">Add Book</a>
      <a href="./books/search">Search Books</a>
      <a href="./users/register">Register</a>
      <a href="./users/login">Login</a>
      <a href="./about">About</a>
      <a href="./logout">Logout</a>
    </div>
    <div class="section">
      <h2 style="margin-top:0">Welcome 👋</h2>
      <p>Explore, add, and manage books using the links above.</p>
    </div>
  </body>
</html>
