<!doctype html>
<html>
  <head>
    <title><%=shopData.shopName%></title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <body class="homepage">
    <div class="index-container">
      <h1>Books We Sell</h1>
      <div class="list-grid">
        <% availableBooks.forEach(item => { %>
          <div class="list-item"><%= item.name %> — £<%= item.price %></div>
        <% }) %>
      </div>
    </div>
  </body>
</html>