<!doctype html>
<html>
<head>
    <title>Register – Bertie's Books</title>
    <link rel="stylesheet" href="/main.css">
</head>

<body>
    <nav class="navbar">
      <div class="nav-logo"><%= shopData.shopName %></div>

      <ul class="nav-links">
        <li><a href="./">Home</a></li>
        <li><a href="./books/list">All Books</a></li>
        <li><a href="./books/add">Add Book</a></li>
        <li><a href="./books/search">Search Books</a></li>
        <li><a href="./users/register">Register</a></li>
        <li><a href="./users/login">Login</a></li>
        <li><a href="./about">About</a></li>
        <li><a href="./logout">Logout</a></li>
      </ul>
    </nav>
    <div class="container">

        <h1>Bertie’s Books</h1>

        <div class="section">

            <h2>Register for <%= shopData.shopName %></h2>

            <% if (typeof errors !== "undefined" && errors.length > 0) { %>
                <div class="error-box">
                    <ul>
                        <% errors.forEach(e => { %>
                            <li><%= e.msg %></li>
                        <% }) %>
                    </ul>
                </div>
            <% } %>

            <form method="POST" action="./registered">

                <label for="first">First Name</label>
                <input id="first" type="text" name="first">

                <label for="last">Last Name</label>
                <input id="last" type="text" name="last">

                <label for="email">Email</label>
                <input id="email" type="email" name="email">

                <label for="username">Username</label>
                <input id="username" type="text" name="username" required>

                <label for="password">Password</label>
                <input id="password" type="password" name="password" required>

                <div class="actions">
                    <button type="submit" class="btn btn-primary">Register</button>
                </div>

            </form>
        </div>

    </div>
</body>
</html>