<!DOCTYPE html>
<html>
<head>
  <title>Login – Bertie's Books</title>
  <link rel="stylesheet" href="/main.css">
</head>
<body>
<div class="container">
  <h1>Bertie’s Books</h1>

  <div class="section">
    <h2>Login</h2>

    <form action="/users/loggedin" method="POST" class="form">
      <label>Username</label>
      <input type="text" name="username" required>

      <label>Password</label>
      <input type="password" name="password" required>

      <div class="actions">
        <button class="btn btn-primary" type="submit">Login</button>
      </div>
    </form>

  </div>
</div>
</body>
</html>